.search-box {
    width: 50%;
    height: 35px;
}

.search-result {
    background-color: white;
    color: black;
    top: 12%;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
}

.clear-search {
    position: absolute;
    color: black;
    right: 38%;
}

.clear-search:hover {
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    font-family: "Lato";
}

.pagination li {
    margin: 0 5px;
    cursor: pointer;
}

.pagination li.active {
    background-color: rgb(0, 213, 255);
    color: #fff;
}


@media screen and (min-width: 640px) {
    .watchlist-icon {
        position: absolute;
        right: 5rem;
    }

    .search-box {
        width: 25%;
    }

    .clear-search {
        right: 38%;
    }

    .search-result {
        top: 12%;
        width: 25%;
        padding: 10px;
        border-radius: 10px;
    }
}