* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.search-box {
    width: 50%;
    height: 35px;
}

.clear-search {
    position: absolute;
    color: black;
    right: 38%;
}

.clear-search:hover {
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    font-family: "Lato";
}

.pagination li {
    margin: 0 5px;
    cursor: pointer;
}

.pagination li.active {
    background-color: rgb(0, 213, 255);
    color: #fff;
}

.main-container {
    max-width: 1600px;
    margin: 0 auto;
}

.list-value {
    font-family: "Gabarito";
    cursor: pointer;
}

.list-value:hover {
    background-color: #e8e8e8;
}

.watchlist-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.5);
    overflow: hidden;
    z-index: 999;
}

.watchlist-main {
    box-shadow: 0 4px 6px 2px #cecece80;
    width: 85%;
    height: fit-content;
    right: 0;
    position: absolute;
    height: 100%;
}

.search-result-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    left: 0;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
}

.search-result {
    background-color: white;
    color: black;
    height: fit-content;
}

@media screen and (min-width: 640px) {
    .watchlist-icon {
        position: absolute;
        right: 5rem;
    }

    .search-box {
        width: auto;
    }

    .input-box {
        width: 380px;
        align-self: center;
    }

    .clear-search {
        right: 38%;
    }

    .search-result {
        top: 12%;
        width: 25%;
        padding: 10px;
        border-radius: 10px;
    }

    .watchlist-main {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .watchlist-main {
        width: 25%;
    }
}